[Desktop Entry]
Type=Service
Exec=blubb
Comment=Visual Studio Project
Name=KDevVStudioProject
GenericName=VS Project
ServiceTypes=KDevelop/Project
Icon=make
X-KDE-Library=libkdevvs
X-KDevelop-Version=5
X-KDevelop-Args=vstudio
