[Desktop Entry]
Type=Service
Exec=blubb
Comment=Visual Studio Project
Name=KDevVStudioProject
GenericName=VS Project
Icon=make
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevvs
X-KDevelop-Version=5
X-KDevelop-Scope=Project
X-KDevelop-Args=vstudio
