<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevpart_vs" version="1">
<MenuBar>
    <Menu name="file">
        <Action name="project_addsolution" />
        <Action name="project_addproject" />
        <Action name="project_addfile" />
    </Menu>
    <Menu name="project" >
        <Action name="project_addsolution" />
        <Action name="project_addproject" />
        <Action name="project_addfile" />
        <Action name="project_addfilter" />
    </Menu>
    <Menu name="build" >
        <Action name="build_buildsolution" />
        <Action name="build_rebuildsolution" />
        <Action name="build_cleansolution" />
        <Action name="build_buildproject" />
        <Action name="build_rebuildproject" />
        <Action name="build_cleanproject" />
        <Action name="build_buildfile" />
        <Action name="build_cleanfile" />
        <Action name="build_buildfilter" />
        <Action name="build_cleanfilter" />
    </Menu>
</MenuBar>
<ToolBar name="build" noMerge="1">
    <text>VS:Build Toolbar</text>
    <Action name="build_buildsolution" group="vstools" />
    <Action name="build_buildproject" group="vstools" />
</ToolBar>
<ToolBar name="config">
    <text>VS:Config Toolbar</text>
    <Separator/>
    <Action name="build_cleansolution" />
    <Action name="config_cfgname" />
    <Action name="config_cfgplatform" />
</ToolBar>
</kpartgui>

